{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %} 

 {% block content %}

	<!--<h1>Hann</h1>

<h3>{{ profile.created }}</h3>

<h3>{{ profile.slack_token }}</h3> -->
{% include 'users/navbar.html' %}
<main>
    <div class="jumbotron" id="profile-jumbo">
      <div class="container text-center">
      {% if profile %}
        <h3> Hey {{ profile }}</h3>
        <h3> {{ profile}}</h3>
      {% else %}
        <h3> Hey {{ user }}</h3>
      {% endif %}
        <p>Bots are taking over are you in r out </p>
        <p><a class="btn btn-primary btn-lg" href="#about" role="button">Register &raquo;</a></p>
      </div>
    </div>


    <div class="container-fluid" id="profile-container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Edit Profile <span class="sr-only">(current)</span></a></li>
            <li ><a href="#">Add Bots</a></li>
             <h4 class="text-center">Tone Bot</h4>
            <li><a href="{% url 'profile:edit' option='Tone' %}">Edit Tone Bot</a></li>
            <li><a href="{% url 'profile:edit' option='joy' %}">Joy Settings </a></li>
            <li><a href="{% url 'profile:edit' option='anger' %}">Anger Settings </a></li>
            <li><a href="{% url 'profile:edit' option='sadness' %}">Sadness Settings </a></li>
            <li><a href="{% url 'profile:edit' option='disgust' %}">Disgust Settings </a></li>
            <li><a href="{% url 'profile:edit' option='fear' %}">Fear Settings </a></li>
          </ul>

          <h4 class="text-center">Faq Bot</h4>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
          </ul>

          <h4 class="text-center">Culture Bot</h4>
          <ul class="nav nav-sidebar">
            <li><a href="">Cultue Settings</a></li>
            
          </ul>
        </div>
        {% if  form %}
          {% include 'users/settings_edit.html' %}
        {% else %}
          {% include 'users/dashboard.html' %}
        {% endif %}
        </div>
    </div>


</main>

{% include 'footer.html' %}


 {% endblock content %}
