{% extends 'index.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}



 {% block bot_forms %}

 <main>


 <div class="row">
 	<div class="col-xs-2 col-xs-offset-5 text-center">
 		<a class="btn btn-default" href="{% url 'bots:createtonebot' %}">Add New Tonebot</a>
		<a class="btn btn-default" href="{% url 'bots:createfaqbot' %}">Add New FAQbot</a>
		<hr>
        		<h3>All Bots:</h3>
 		{% for bot in bots %}
 			{{bot.bot_type}}
	 		{% if bot.bot_type == "tonebot" %}	

	 			<h3><a href="{% url 'bots:updatetonebot' botid=bot.bot_id %}">{{bot.bot_id}}</a></h3>
	 		{% else %}
	 			<h3><a href="{% url 'bots:updatetonebot' botid=bot.bot_id %}">{{bot.bot_id}}</a></h3>
	 		{% endif %}
		{% endfor %}
 	</div>
 </div>

 </main>

 {% endblock bot_forms %}
