{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}



 {% block content %}

 <div class="row">
 	<div class="col-xs-2 col-xs-offset-5 text-center">
 		<form method='POST' action=''>
            {% csrf_token %}

            <h3>Slack Token</h3>
            <input type=text class="slack-token">
            <hr>

            <h3>Anger</h3>
            <input type="range" class="anger-threshold" min="0" max="10">
            <div class="anger">
                <div class="anger-responses">
                    <input type="text" name="anger-1">
                </div>
                <input type="hidden" class="delimited-anger-responses">
                <button class="add-response btn btn-default">Add Response</button>
            </div>
            <hr>

            <h3>Joy</h3>
            <input type="range" class="joy-threshold" min="0" max="10">
            <div class="joy">
                <div class="joy-responses">
                    <input type="text" name="joy-1">
                </div>
                <input type="hidden" class="delimited-joy-responses">
                <button class="add-response btn btn-default">Add Response</button>
            </div>
            <hr>

            <h3>Sadness</h3>
            <input type="range" class="sadness-threshold" min="0" max="10">
            <div class="sadness">
                <div class="sadness-responses">
                    <input type="text" name="sadness-1">
                </div>
                <input type="hidden" class="delimited-sadness-responses">
                <button class="add-response btn btn-default">Add Response</button>
            </div>
            <hr>

            <h3>Fear</h3>
            <input type="range" class="fear-threshold" min="0" max="10">
            <div class="fear">
                <div class="fear-responses">
                    <input type="text" name="fear-1">
                </div>
                <input type="hidden" class="delimited-fear-responses">
                <button class="add-response btn btn-default">Add Response</button>
            </div>
            <hr>

            <h3>Disgust</h3>
            <input type="range" class="disgust-threshold" min="0" max="10">
            <div class="disgust">
                <div class="disgust-responses">
                    <input type="text" name="disgust-1">
                </div>
                <input type="hidden" class="delimited-disgust-responses">
                <button class="add-response btn btn-default">Add Response</button>
            </div>
            <hr>

            <input type='submit' value='Create Bot!' class='add-bot-button btn btn-default' />
        </form>
 	</div>
 </div>
 <br />
 <br />

 </main>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script>

    var counter = 0;
    $(".add-response").on("click", function(event){
        event.preventDefault();


        if($(this).parent().find("div input:last").val()){
            counter++;
            var tone = $(this).parent().attr("class");
            $(this).parent().find("div").append("<input id='" + tone + counter + "' type='text'>");
        }
    });

    $("form").submit(function(event){
        event.preventDefault();

        var angerResponses = [];
        $(".anger-responses input").each(function() {
            angerResponses[$(this).attr("name")] = $(this).val();
        });
        angerResponses = Object.keys(angerResponses).map(function (key) {return angerResponses[key]})

        var joyResponses = [];
        $(".joy-responses input").each(function() {
            joyResponses[$(this).attr("name")] = $(this).val();
        });
        joyResponses = Object.keys(joyResponses).map(function (key) {return joyResponses[key]})

        var fearResponses = [];
        $(".fear-responses input").each(function() {
            fearResponses[$(this).attr("name")] = $(this).val();
        });
        fearResponses = Object.keys(fearResponses).map(function (key) {return fearResponses[key]})

        var disgustResponses = [];
        $(".disgust-responses input").each(function() {
            disgustResponses[$(this).attr("name")] = $(this).val();
        });
        disgustResponses = Object.keys(disgustResponses).map(function (key) {return disgustResponses[key]})

        var sadnessResponses = [];
        $(".sadness-responses input").each(function() {
            sadnessResponses[$(this).attr("name")] = $(this).val();
        });
        sadnessResponses = Object.keys(sadnessResponses).map(function (key) {return sadnessResponses[key]})



        var angerThreshold = $(".anger-threshold").val() / 10.0;
        var disgustThreshold = $(".disgust-threshold").val() / 10.0;
        var fearThreshold = $(".fear-threshold").val() / 10.0;
        var sadnessThreshold = $(".sadness-threshold").val() / 10.0;
        var joyThreshold = $(".joy-threshold").val() / 10.0;

        var slackToken = $(".slack-token").val();


        var data = {
        bot: {
                properties: {
                  anger: {
                    threshold: angerThreshold,
                    responses: angerResponses
                  },
                  joy: {
                    threshold: joyThreshold,
                    responses: joyResponses
                  },
                  sadness: {
                    threshold: sadnessThreshold,
                    responses: sadnessResponses
                  },
                  disgust: {
                    threshold: disgustThreshold,
                    responses: disgustResponses
                  },
                  fear: {
                    threshold: fearThreshold,
                    responses: fearResponses
                  }
                },
                token: slackToken,
                type: "tonebot",
                service: "slack",
                active: true
              }
        };


        var jsonData = JSON.stringify(data);


        $.ajax({
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            data: jsonData,
            url: "https://pacific-brushlands-11047.herokuapp.com/api/bots",
            success: function(response){
                createBotCallback(response);
            },
            error: function(jqxhr,textStatus,errorThrown) {
                console.log(textStatus + "; " + errorThrown);
            }
        });
    });

    function createBotCallback(response){
        var botID = response.bot_id;
        console.log(botID);
        window.location.href = "create/" + botID;

        //redirect to create-bot url with botID as parameter
        //the creat-bot route will add new entry in the sqlite db
        //whch will redirect back to list of bots
    }

 </script>

 {% endblock content %}
