{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}



 {% block content %}

 <div class="row">
 	<div class="col-xs-2 col-xs-offset-5 text-center">
 		<form method='POST' action=''>
            {% csrf_token %}

            <h3>Slack Token</h3>
            <input type=text class="slack-token">
            <hr>

            <h3>FAQ #1</h3>
            <div class="faqs">
                <div class="faq">
                    <label>Bot Response (answer):</label>
                    <input type="text" class="bot-response">
                    <div class="questions">
                        <label>Question Variations:</label>
                        <input type="text" class="question-variation">
                    </div>
                    <button class="add-variation btn btn-default">Add Question Variation</button>
                </div>
                <hr>
            </div>
            <button class="add-faq">Add another FAQ</button>
            <hr>


            <input type='submit' value='Create Bot!' class='add-bot-button btn btn-default' />
        </form>
 	</div>
 </div>
 <br />
 <br />

 </main>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script>

    $(".faqs").on("click", ".add-variation", function(event){
        event.preventDefault();

        if($(this).parent().find(".questions input:last").val()){
            $(this).parent().find(".questions").append("<input class='question-variation' type='text'>");
        }
    });

    $(".add-faq").on("click", function(event){
        event.preventDefault();

        $(this).parent().find(".faqs").append(
            '<div class="faq"><label>Bot Response (answer):</label><input type="text" class="bot-response"><div class="questions"><label>Question Variations:</label><input type="text" class="question-variation"></div><button class="add-variation btn btn-default">Add Question Variation</button></div><hr>'
        );
    });


    var guid = function() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    $("form").submit(function(event){
        event.preventDefault();

        bot = {};
        bot["token"] = $("slack-token").val();
        bot["type"] = "faqbot";
        bot["properties"] = {};


        //build the response object
        $(".faq").each(function(){
            var uuid = guid();
            bot.properties[uuid] = {};
            bot.properties[uuid]["answer"] = $(this).find(".bot-response").val();
            bot.properties[uuid]["questions"] = [];

            $(this).find(".question-variation").each(function(){
                bot.properties[uuid]["questions"].push($(this).val());
            });
        });


        var data = {
            bot: bot
        };

        console.log(data);

        var jsonData = JSON.stringify(data);


        $.ajax({
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            data: jsonData,
            url: "https://pacific-brushlands-11047.herokuapp.com/api/bots",
            success: function(response){
                createBotCallback(response);
            },
            error: function(jqxhr,textStatus,errorThrown) {
                console.log(textStatus + "; " + errorThrown);
            }
        });
    });

    function createBotCallback(response){
        var botID = response.bot_id;
        console.log(botID);
        alert("Bot Updated!");
        window.location.href = botID;

        //redirect to create-bot url with botID as parameter
        //the creat-bot route will add new entry in the sqlite db
        //whch will redirect back to list of bots
    }

 </script>

 {% endblock content %}







